/**
 * Created by tmowbrey on 8/26/2016.
 */
.THIS {
    height: 600px;
    padding: 0 12px;
}

.THIS .map {
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /*
    -webkit-justify-content: center;
    justify-content: center;
    */
}